<form action="/dashboard/addlocalspot" method="POST">
  <div class="field">
    <label class="label">Name</label> 
    <input class="input" type="text" placeholder="Enter localspot name" name="title">
  </div>
  <div class="field">
    <label class="label">Description</label> 
    <input class="input" type="text" placeholder="Enter localspot description" name="description">
  </div>
<div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Latitude</label> 
        <input class="input" type="text" placeholder="e.g. 52.5200" name="latitude">
      </div>
      <div class="field">
        <label class="label">Longitude</label> 
        <input class="input" type="text" placeholder="e.g. 13.4050" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-link">Add LocalSpot</button>
</form>


<script>
  const fileInput = document.querySelector(".file-input");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector(".file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>












</form>
