{{#each localspots}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{title}}
    </h2>
    <a href="#" class="button is-light is-disabled" title="Coming Soon">
  <i class="fas fa-map-marker-alt"></i>
</a>
    <a href="/dashboard/deletelocalspot/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>    
  </div>
{{/each}}


