{{!-- filepath: /Users/philipprosanka/dev/local-spots-poi/src/views/partials/menu.hbs --}}
<nav class="navbar">
  <div class="navbar-brand">
    {{> localspot-poi-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        
       {{!-- filepath: /Users/philipprosanka/dev/local-spots-poi/src/views/partials/menu.hbs --}}
      <div class="buttons">
        <a id="dashboard" class="button" href="/dashboard"> Dashboard </a> 
        <a id="about" class="button" href="/about"> About </a>
         {{#if user.isAdmin}}
        <a id="admin" class="button is-primary" href="/admin"> Admin Panel </a>
         {{/if}}
        <a id="logout" class="button" href="/logout"> Logout </a> 
      </div>
      </div>
    </div>
  </div>
</nav>