<nav class="navbar">
  <div class="navbar-brand">
    {{> local-spots-poi-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a> // Link to Dashboard
          <a id=""about" class="button" href="/about"> About </a> // Link to About
          <a id="logout" class="button" href="/logout"> Logout </a> // Link to Logout
        </div>
      </div>
    </div>
  </div>
</nav>
